body {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  grid-template-rows: 20px 15% 20% 10% 30%;
  color: black;
  background-color: #628395;
}

.portfolioHeaderLinks {
  grid-area: 1/1/2/6;
}
/* not sure why this one is acting up compared to all the rest */
.portfolioHeader {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  padding-left: 15px;
}
.homeDefiningTraits {
  color: orange;
}
.homeHeaderAndIntro {
  margin-left: 10px;
}
.homeMissionStatement {
  color: white;
}
.homePicture {
  width: 500px;
  height: 300px;
}
.macBike {
  float: right;
  width: 300px;
}

.portfolioItemOne {
  /* grid-area: 2/2/3/3; */
  padding: 15px;
  padding-top: 50px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}
.zoo {
  grid-area: 3/3/3/3;
  height: 200px;
  padding: 30px;
}
.groceries {
  padding: 15px;
  grid-area: 5/1/5/2;
}
.groceryListIMG {
  width: 400px;
  grid-area: 5/2/5/4;
  height: 300px;
  padding: 50px;
}
